services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8010:8010"
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
    restart: always

networks:
  default:
    name: dahar-network